* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

.logo h2{
font-size: 45px;
color: rgba(24, 24, 24, 1);
font-weight: 900px;
}

.color-orange{
    color: rgba(253, 110, 10, 1);
}

.btn{
    border: none;
    background-color: rgba(253, 110, 10, 1);
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: rgba(117, 117, 117, 1);
}

/* shared style end */


/* main style */
}
header{
    background-color: rgba(255, 248, 243, 1);
    background: url(../images/developer.png), url(../images/header_bg.png), rgba(255, 248, 243, 1);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.nav-selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1460px;
}  

nav{
    width: 81%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;  
}


.menu{
    display: flex;
    justify-content: space-between;
    gap: 51px;
    /* list-style: none; */
    list-style-type: none;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content {
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    color: rgba(71, 71, 71, 1);
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: rgba(24, 24, 24, 1);
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#About {
    padding-top: 130px;
    
}

#About .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 248, 243, 1);
    padding: 131px 156px;

}

#About .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 30px;

}
.about-info .info-card h4{
    font-size: 20px;
}