* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

.logo h2{
font-size: 45px;
color: rgba(24, 24, 24, 1);
font-weight: 900px;
}

.color-orange{
    color: rgba(253, 110, 10, 1);
}

.btn{
    border: none;
    background-color: rgba(253, 110, 10, 1);
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading {
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: rgba(117, 117, 117, 1);
}

.text-center {
    text-align: center;
}

/* shared style end */

/* main style */
}
header{
    background-color: rgba(255, 248, 243, 1);
    background: url(../images/developer.png), url(../images/header_bg.png), rgba(255, 248, 243, 1);
    /* background-position: top left, bottom right; */
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    border: 1px solid red;
    margin: 0 auto;  
}

.nav-selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1460px; */
    max-width: 1140px;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 51px;
    /* list-style: none; */
    list-style-type: none;
    align-items: center;
}
.menu a{
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content {
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    color: rgba(71, 71, 71, 1);
    font-weight: 600;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: rgba(24, 24, 24, 1);
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;

}

#banner .banner-image img {
    max-width: 585px;
    vertical-align: middle;
}

#About, #skills, #resume {
    padding-top: 130px;
}

#About .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 248, 243, 1);
    padding: 131px 156px;

}

#About .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 30px;

}
.about-info .info-card h4{
    font-size: 20px;
}


#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skills-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.skills-box .skill-card {
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    max-width: 267px;
}

.skill-card img {
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3 {
    font-size: 20px;
    color: rgba(24, 24, 24, 1);
    margin-bottom: 20px;
}

.skill-card p {
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    line-height: 28px;
}

#resume .resume-container {
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;
}

.resume-container hr {
    margin: 30px 0;
}

.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    margin-bottom: 30px;

}

.resume-container .resuem-card {
    max-width: 511px;
    margin-right: 47px;

}

.resuem-card .card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #474747;
}

.resuem-card .card-info {
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 20px;
    color: #757575;
}

.resuem-card .card-text {
    font-size: 16px;
    line-height: 28px;
    /* margin-bottom: 20px; */
    color: #757575;
}

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 116px;
}

.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.footer-container .social {
    max-width: 562px;
}

.footer-container p{
    color: #474747;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer-container .icons a{
    margin-right: 24px;

}

.footer-container form input[type="text"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;

    color: #757575;
}
